.tienda-container {
    padding: 0 4px;
}

    .tienda-container h2 {
        font-size: 22px;
        color: #0033A0;
    }

.productos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.producto-card {
    background: white;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    border: 1px solid #EDEFF3;
}

.producto-img {
    font-size: 40px;
}

.producto-card h3 {
    font-size: 14px;
    margin: 4px 0;
}

.precio {
    font-weight: 800;
    color: #FF692D;
    font-size: 15px;
}

.btn-agregar {
    background: #FF692D;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}
